<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="urlLinkTest" value="www.smokeball.com.au"/>
		<add key="urlLeapTest" value="leap"/>
		<add key="webSearchTest" value="https://www.google.com.au/search?num=100&amp;q=conveyancing+software"/>
	</appSettings>
</configuration>